/* ---------- Google Font ---------- */
@font-face {
    font-family: "Playpen Sans";
    src: url("../font/playpen/PlaypenSans-Regular.ttf") format('truetype');
}

/* ---------- Reset css ---------- */
* {
    margin: 0;
    padding: 0;
}

/* ---------- Body ---------- */
body {
    font-family: "Playpen Sans";
    background-color: #DFCAB7;
    color: #5B3D23;
    font-weight: 600;
    font-size: 1em;
}

/* ---------- Content ---------- */
.main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

/* ---------- Breaker line ---------- */
#linebreak {
    border: none;
    height: 2px;
    background-color: #5B3D23;
}

/* ---------- Social network ---------- */
.social {
    text-align: center;
}

.social li {
    font-size: 2em;
    list-style: none;
    display: inline-block;
    padding: 0.3em;
}

.social a {
    color: #5B3D23;
    text-decoration: none;
}

.social a:hover {
    color: #FCF7F1;
}

/* ---------- Header ---------- */
.main__header {
    text-align: center;
    color: #5B3D23;
}

/* ---------- Card ---------- */
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:#5B3D23;
}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}
  
.tag + .tag {
    margin-left: .5em;
}
  
.tag-brown {
    color: black;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #5B3D23;
}
  
.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
  
.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}
  
.user {
    display: flex;
    gap: .5rem;
}
  
.user__image {
    border-radius: 50%;
    border: 1px solid #5B3D23;
    width: 75px;
    height: 75px;
}
  
.user__info > small {
    color: black;
}

.name {
    color:#5B3D23;
    padding-left: 15px;
    font-size: 25px;
    text-decoration: underline;

}

.list li {
    list-style: none;
    padding-left: 9px;
    padding-top: 5px;
}

/* ---------- Footer ---------- */
.footer__message {
    text-align: center;
    padding: 10px;
    background-color: #5B3D23;
    color: #FCF7F1;
}

.footer__message a {
    color: #D1913C;
    text-decoration: none;
    font-size: 1.5em;
}

.footer__message a:hover {
    color: #FCF7F1;
} 

.timelist {
    list-style: none;
    padding: 20px;
    color: #5B3D23;
    font-size: 18px;
}

.copyrights {
    text-align: center;
    padding: 10px;
    background-color: #5B3D23;
    color: #FCF7F1;
}

.copyrights a {
    color: skyblue;
    text-decoration: none;
}

.copyrights a:hover {
    color: #FCF7F1;
} 

/* ---------- Media queries ---------- */
@media screen and (min-width: 700px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }
    #content {
        grid-column: 2/3;
        padding-top: 3.5em;
        border-left: 2px solid #5B3D23;
    }
}

