/* ---------- Google Font ---------- */
@font-face {
    font-family: "Playpen Sans";
    src: url("../font/playpen/PlaypenSans-Regular.ttf") format('truetype');

}

/* ---------- Reset css ---------- */
* {
    margin: 0;
    padding: 0;
}

/* ---------- Body ---------- */
body {
    font-family: "Playpen Sans";
    background-color: #DFCAB7;
    color:#FCF7F1;
    font-weight: 600;
    font-size: 1em;

}

/* ---------- Content ---------- */
#main {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

/* ---------- Picture side ---------- */
#header {     
        background-image: url("../images/home.webp");
        width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding-top: 3em;
}
